@import "tailwindcss";


*::placeholder{
  font-size: 13px;
  position: absolute;
  top: 8px;
}

#root {
  margin: 0 auto;
  min-height: 100vh;
  max-width: 100vw;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @apply bg-website-background
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #b5cce4;
}

button,span,h4{
  @apply font-subtitle font-subtitle-wt text-title-headings;
}

input,p{
  @apply font-paragraph-body;
}

h1,h2{
  @apply font-title-heading;
}

@theme{
  --color-logo-background: #2F80ED;
  --color-header-background: #0F3460;
  --color-title-headings: #2D3436;
  --color-subtitle-text: #636E72;
  --color-paragraph-text: #4A4A4A;
  --color-website-background: #b5cce4;
  --color-highlight-hover: #56CCF2;
  --color-accent-link: #00B894;
  --color-error-warning: #EB5757;
  --color-sooth-green: #C8E6C9;


  --font-logo: "Poppins", sans-serif;
  --font-title-heading: "Poppins", sans-serif;
  --font-subtitle: "Poppins", sans-serif;
  --font-paragraph-body: "Roboto", sans-serif;
  --font-small-footer: "Roboto", sans-serif;

  --font-weight-logo: 700;
  --font-weight-title-wt: 600;
  --font-weight-subtitle-wt: 500;
  --font-weight-paragraph-wt: 400;
  --font-weight-small-footer: 300;
  
}
